.DashBoardNav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  &__title {
    color: #343a4a;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.25;
  }
  &__buttons {
    display: flex;
    margin-top: 0.5rem;
    @media screen and (max-width: 376px) {
      flex-wrap: wrap;
      & > button {
        margin-top: 0.5rem;
      }
    }
    @media screen and (min-width: 768px) {
      margin-top: unset;
    }
    & > button {
      white-space: nowrap;
    }
    & > button:not(:last-child) {
      margin-right: 0.5rem;
      @media screen and (min-width: 768px) {
        margin-right: 1rem;
      }
    }
  }
}
.DropdownMenuContent {
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  box-shadow:
    0 0.125rem 0.375rem #33383e42,
    0 0.0625rem 0.125rem #8a919991;
  color: #212529;
  background-color: white;
  opacity: 1;
  overflow: hidden;
  position: relative;
  z-index: 100;
  & div[role='separator'] {
    margin: 0.25rem 0;
    border-top: 1px solid #dee2e6;
    &:hover {
      background-color: #1e9bff;
      color: white;
    }
  }

  & .DropdownMenuSection {
    color: #6c757d;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    line-height: 1.25;
    text-transform: uppercase;
  }

  & .DropdownMenuItem {
    color: #212529;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    cursor: pointer;
    outline: none;
    display: flex;
    width: 100%;

    &:hover {
      background-color: #1e9bff;
      color: white;
    }
  }
}
