.Hero {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    height: 90vh;
  }
  & > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__textside {
    & h1 {
      text-align: center;
    }
    & button {
      @media screen and (min-width: 1024px) {
        align-self: flex-start;
      }

      margin-top: 0.5rem;
    }
  }
  &__imageside {
    max-width: 80%;
  }
}
