@import '../../mixin.scss';

.DeleteModal {
  @include modalLayout;

  &__box {
    @include modalBox;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    & > button {
      margin: 0 0.5rem;
    }
  }
}
