.loader {
  display: flex;
  width: 100%;
  min-width: 100%;
  margin: 3px auto;
  min-height: max(1vh, 4px);
  border-radius: 999px;
  background: #111d57;
  pointer-events: none;
  &.active {
    background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #f39c12);
    background-size: 400% 400%;
    animation: gradientChange 3s linear infinite;
  }
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
