.SideMenu {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #1e9bff, #1376f3);
  width: 70%;
  padding: 5%;
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease-out;
  top: 0;
  left: 0;
  &.close {
    transform: translateX(-110%);
  }
  &.open {
    transition: all 0.3s ease-out;
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    position: relative;
    top: unset;
    left: unset;
    width: 100px;
    padding: 0.5rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
    &__wrapper {
      width: 12vw;
      height: 12vw;
      border-radius: 999px;
      display: grid;
      place-items: center;
      background-color: #111d57;
      padding: 0.5rem;
      @media screen and (min-width: 768px) {
        width: 45px;
        height: 45px;
      }
    }
    &__company {
      font-size: 85%;
      padding-left: 5%;
      font-weight: 700;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  &__links {
    margin-top: 2rem;
  }
  & > .Profile {
    align-self: flex-end;
  }
}
