.SetupStep {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #111d57;
  &:not(:nth-child(2)) {
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: column;
    }
  }
  &:nth-child(2) {
    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1024px) {
    flex: unset;
    flex-basis: 32%;
  }
  &__box,
  &__text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2vw;
    @media screen and (min-width: 1024px) {
      margin: unset;
    }
    @media screen and (min-width: 1440px) {
      width: 80%;
    }
  }
  &__box {
    align-items: center;
    box-shadow: 0px 12px 35px rgba(30, 155, 255, 0.14);
    padding: 0.75rem;
    border-radius: 1rem;
    position: relative;

    @media screen and (min-width: 768px) {
      max-width: 28vw;
    }
    @media screen and (min-width: 1024px) {
      min-height: 40vh;
    }
    &__step {
      position: absolute;
      top: -8%;
      left: -5%;
      font-size: 1.15rem;
      padding: 0.5rem 1.25rem;
      background-color: #e96b6d;
      color: white;
      font-weight: 900;
      border-radius: 6px;
      @media screen and (min-width: 768px) {
        font-size: 2vw;
        padding: 0.5vw 1.5vw;
      }
    }

    &__icon {
      margin: 2% 0;
    }
    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      color: inherit;
      margin-top: 4%;
    }
    &__visual {
      margin-top: 4%;
      margin-bottom: 3%;
    }
  }
  &__text {
    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0.75rem 0;
    }
    &__parag {
      color: #324682;
    }
  }
}
